
@font-face {font-family: "iconfont";
  src: url('/static/fonts/iconfont.eot?t=1489635084010'); /* IE9*/
  src: url('/static/fonts/iconfont.eot?t=1489635084010#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/iconfont.woff?t=1489635084010') format('woff'), /* chrome, firefox */
  url('/static/fonts/iconfont.ttf?t=1489635084010') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/static/fonts/iconfont.svg?t=1489635084010#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qingchu:before { content: "\f0020"; }

.icon-yuanxing:before { content: "\e60a"; }

.icon-mianji:before { content: "\e646"; }

.icon-juli:before { content: "\e6c9"; }

.icon-juxing:before { content: "\e60b"; }

.icon-zhexian:before { content: "\e64a"; }

.icon-duobianxing:before { content: "\e663"; }

